@import 'compass';
@import 'modules/variables.scss';

body{
  background-color: #F8F8EF;
  color: $font-main-color;
}

ul{
  list-style: none;
  padding: 0;
}

p{
  margin: 0;
}

.header{
  position: relative;
  background-color: $green;
  color: white;
  text-align: center;
  
  @media #{$more-than-tb}{
    height: 300px;
  }
  @media #{$less-than-tb}{
    height: 160px;
  }
  
  h1{
    margin: 0;
    letter-spacing: 1px;
    font-family: $en_font; 
    
    @media #{$more-than-tb}{
      line-height: 300px;
    }
    @media #{$less-than-tb}{
      line-height: 160px;
    }
  }
  
  &__bottom-group{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    
    &__left{
      display: flex;
      @include border-radius(5px);
      
      @media #{$more-than-tb}{
        width: 80px;
        height: 40px;
        background-color: #D57B00;
      }
      @media #{$less-than-tb}{
        width: 56px;
        height: 32px;
        background-color: #D57B00;
      }
      
      .eraser-left, .eraser-right{
        display: inline-block;
        width: 50%;
        height: 100%;
      }
      
      .eraser-left{
        border-right: 8px solid #585858;
      }

    }
    
    &__right{
      @media #{$more-than-tb}{
        width: 40%;
      }
      
      @media #{$more-than-tb}{
        width: 70%;
      }
      
      .chalks{
        display: inline-block;
        
        @media #{$less-than-tb}{
          height: 100%;
          width: 30px;
          margin: 0 4px;
        }
        
        @media #{$more-than-tb}{
          height: 100%;
          width: 56px;
          margin: 0 4px;
        }
      }
      
      @media #{$less-than-tb}{
        #chalk--white{
          border-bottom: 10px solid #fff;
        }
        
        #chalk--pink{
          border-bottom: 10px solid #FDAEF1;
        }
        
        #chalk--blue{
          border-bottom: 10px solid #56B6E8;
        }
        
        #chalk--yellow{
          border-bottom: 10px solid #FFF39A;
        }
      }
      
      @media #{$more-than-tb}{
        #chalk--white{
          border-bottom: 10px solid #fff;
        }
        
        #chalk--pink{
          border-bottom: 10px solid #FDAEF1;
        }
        
        #chalk--blue{
          border-bottom: 10px solid #56B6E8;
        }
        
        #chalk--yellow{
          border-bottom: 10px solid #FFF39A;
        }
      }
    }
    
  }
}

.contents-list{
  position: relative;
  margin: 16px 0;
  text-align: center;
  
  &__title{
    padding: 0 8px;
    font-family: $ja_font;
    background-color: #F8F8EF;
    
    @media #{$more-than-tb}{
      @include fontsize(24);
    }
    
    @media #{$less-than-tb}{
      @include fontsize(18);
    }
    
    &:before{
      position: absolute;
      top: 50%;
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px solid $font-main-color;
      z-index: -1;
    }
  }
}

.contents{
  @media #{$more-than-tb}{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contents__box{
    
    padding: 16px;
    background-color: #fff;
    @include border-radius(3px);
    
    @media #{$more-than-tb}{
      width: 49%;
      margin: 8px 0;
    }
    
    @media #{$less-than-tb}{
      margin: 16px 0;
    }
    
    &__image{
      width: 100%;
      margin-bottom: 16px;
    }
    
    &__subtitle{
      @media #{$less-than-tb}{
        @include fontsize(12);
      }
      @media #{$more-than-tb}{
        @include fontsize(14);
      }
    }
    
    &__maintitle{
      @media #{$less-than-tb}{
        @include fontsize(16);
      }
      @media #{$more-than-tb}{
        @include fontsize(18);
      }
    }
    
    &__tag{
      margin-right: 8px;
      color: #898989;
      font-family: $en_font;
      
      @media #{$less-than-tb}{
        @include fontsize(10);
      }
      
      @media #{$more-than-tb}{
        @include fontsize(14);
      }
    }
  }
}

//sidebar
.sidebar{
  margin: 16px 0;
  
  &__box{
    background-color: #fff;
    
    &__title{
      padding: 8px 16px;
      background-color: #FFC14B;
      color: #fff;
      font-family: $ja-font;
      font-weight: bold;
    }
    
    &__wrapper{
      padding: 16px;
    }
    
    &__list{
      font-family: $en_font;
      word-wrap: break-word;
      
      li{
        margin: 8px 0;
        
        i{
          margin-right: 8px;
        }
      }
    }
    
    &__text{
      margin-bottom: 16px;
      font-family: $ja_font;
    }
    
    .icons-box{
      ul{
        display: flex;
        
        li{
          display: inline-block;
          width: 40px;
          height: 40px;
          margin: 2px;
          text-align: center;
          @include border-radius(20px);
        }
        
        #twitter-bg{
          background-color: #1592E6;
        }
        
        #instagram-bg{
          @include background(linear-gradient(135deg, #427eff 0%, #f13f79 70%));
        }
        
        #portfolio-bg{
          
        }
        
        .icon{
          color: #fff;
          line-height: 40px;
          @include fontsize(24);
        }
      }
    }
    
  }
  
}