@charset "UTF-8";
body {
  background-color: #F8F8EF;
  color: #4E4E4E; }

ul {
  list-style: none;
  padding: 0; }

p {
  margin: 0; }

.header {
  position: relative;
  background-color: #088140;
  color: white;
  text-align: center; }
  @media (min-width: 768px) {
    .header {
      height: 300px; } }
  @media (max-width: 767px) {
    .header {
      height: 160px; } }
  .header h1 {
    margin: 0;
    letter-spacing: 1px;
    font-family: "PT Mono", "Menlo", "Georgia", sans-serif; }
    @media (min-width: 768px) {
      .header h1 {
        font-size: 42px;
        font-size: 2.625rem;
        line-height: 300px; } }
    @media (max-width: 767px) {
      .header h1 {
        line-height: 160px; } }
  .header__bottom-group {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around; }
    .header__bottom-group__left {
      display: flex;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      @media (min-width: 768px) {
        .header__bottom-group__left {
          width: 80px;
          height: 40px;
          background-color: #D57B00; } }
      @media (max-width: 767px) {
        .header__bottom-group__left {
          width: 56px;
          height: 32px;
          background-color: #D57B00; } }
      .header__bottom-group__left .eraser-left, .header__bottom-group__left .eraser-right {
        display: inline-block;
        width: 50%;
        height: 100%; }
      .header__bottom-group__left .eraser-left {
        border-right: 8px solid #585858; }
    @media (min-width: 768px) {
      .header__bottom-group__right {
        width: 40%; } }
    @media (min-width: 768px) {
      .header__bottom-group__right {
        width: 70%; } }
    .header__bottom-group__right .chalks {
      display: inline-block; }
      @media (max-width: 767px) {
        .header__bottom-group__right .chalks {
          height: 100%;
          width: 30px;
          margin: 0 4px; } }
      @media (min-width: 768px) {
        .header__bottom-group__right .chalks {
          height: 100%;
          width: 56px;
          margin: 0 4px; } }
    @media (max-width: 767px) {
      .header__bottom-group__right #chalk--white {
        border-bottom: 10px solid #fff; }
      .header__bottom-group__right #chalk--pink {
        border-bottom: 10px solid #FDAEF1; }
      .header__bottom-group__right #chalk--blue {
        border-bottom: 10px solid #56B6E8; }
      .header__bottom-group__right #chalk--yellow {
        border-bottom: 10px solid #FFF39A; } }
    @media (min-width: 768px) {
      .header__bottom-group__right #chalk--white {
        border-bottom: 10px solid #fff; }
      .header__bottom-group__right #chalk--pink {
        border-bottom: 10px solid #FDAEF1; }
      .header__bottom-group__right #chalk--blue {
        border-bottom: 10px solid #56B6E8; }
      .header__bottom-group__right #chalk--yellow {
        border-bottom: 10px solid #FFF39A; } }

.contents-list {
  position: relative;
  margin: 16px 0;
  text-align: center; }
  .contents-list__title {
    padding: 0 8px;
    font-family: "TsukuARdGothic-Regular", "MS UI Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
    background-color: #F8F8EF; }
    @media (min-width: 768px) {
      .contents-list__title {
        font-size: 24px;
        font-size: 1.5rem; } }
    @media (max-width: 767px) {
      .contents-list__title {
        font-size: 18px;
        font-size: 1.125rem; } }
    .contents-list__title:before {
      position: absolute;
      top: 50%;
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px solid #4E4E4E;
      z-index: -1; }

@media (min-width: 768px) {
  .contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }
.contents .contents__box {
  padding: 16px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .contents .contents__box {
      width: 49%;
      margin: 8px 0; } }
  @media (max-width: 767px) {
    .contents .contents__box {
      margin: 16px 0; } }
  .contents .contents__box__image {
    width: 100%;
    margin-bottom: 16px; }
  .contents .contents__box__subtitle {
    font-family: "TsukuARdGothic-Regular", "MS UI Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
    font-weight: bold; }
    @media (max-width: 767px) {
      .contents .contents__box__subtitle {
        font-size: 12px;
        font-size: 0.75rem; } }
    @media (min-width: 768px) {
      .contents .contents__box__subtitle {
        font-size: 14px;
        font-size: 0.875rem; } }
  .contents .contents__box__maintitle {
    font-family: "TsukuARdGothic-Regular", "MS UI Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
    font-weight: bold; }
    @media (max-width: 767px) {
      .contents .contents__box__maintitle {
        font-size: 16px;
        font-size: 1rem; } }
    @media (min-width: 768px) {
      .contents .contents__box__maintitle {
        font-size: 18px;
        font-size: 1.125rem; } }
  .contents .contents__box__tag {
    margin-right: 8px;
    color: #898989;
    font-family: "PT Mono", "Menlo", "Georgia", sans-serif; }
    @media (max-width: 767px) {
      .contents .contents__box__tag {
        font-size: 10px;
        font-size: 0.625rem; } }
    @media (min-width: 768px) {
      .contents .contents__box__tag {
        font-size: 14px;
        font-size: 0.875rem; } }

.sidebar {
  margin: 16px 0; }
  .sidebar__box {
    background-color: #fff; }
    .sidebar__box__title {
      padding: 8px 16px;
      background-color: #FFC14B;
      color: #fff;
      font-family: "TsukuARdGothic-Regular", "MS UI Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
      font-weight: bold; }
    .sidebar__box__wrapper {
      padding: 16px; }
    .sidebar__box__list {
      font-family: "PT Mono", "Menlo", "Georgia", sans-serif;
      word-wrap: break-word; }
      .sidebar__box__list li {
        margin: 16px 0; }
        .sidebar__box__list li i {
          margin-right: 8px; }
    .sidebar__box__text {
      margin-bottom: 24px;
      font-family: "TsukuARdGothic-Regular", "MS UI Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
      line-height: 24px; }
    .sidebar__box .icons-box ul {
      display: flex; }
      .sidebar__box .icons-box ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 2px;
        text-align: center;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px; }
      .sidebar__box .icons-box ul #twitter-bg {
        background-color: #1592E6; }
      .sidebar__box .icons-box ul #instagram-bg {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyN2VmZiIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZjEzZjc5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
        background: -moz-linear-gradient(315deg, #427eff 0%, #f13f79 70%);
        background: -webkit-linear-gradient(315deg, #427eff 0%, #f13f79 70%);
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%); }
      .sidebar__box .icons-box ul .icon {
        color: #fff;
        line-height: 40px;
        font-size: 24px;
        font-size: 1.5rem; }

.footer {
  width: 100%;
  height: 80px;
  margin-top: 48px;
  background-color: #FFC14B;
  text-align: center; }
  .footer__text {
    line-height: 80px;
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem; }

.contents-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff; }
  @media (min-width: 768px) {
    .contents-wrapper {
      margin-top: 16px;
      padding: 56px 16px; } }
  @media (max-width: 767px) {
    .contents-wrapper {
      margin-top: 16px;
      padding: 40px 8px; } }

/*# sourceMappingURL=style.css.map */
